<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296202906706-62gb17v0eq4jnquvug6r7c5mglo54vsr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296202906706-62gb17v0eq4jnquvug6r7c5mglo54vsr</string>
	<key>API_KEY</key>
	<string>AIzaSyDwAPcWeSJ_eTDYCvEFV6AYP32BO3gSSF0</string>
	<key>GCM_SENDER_ID</key>
	<string>296202906706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.africultureMobile</string>
	<key>PROJECT_ID</key>
	<string>africulture-49c6b</string>
	<key>STORAGE_BUCKET</key>
	<string>africulture-49c6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296202906706:ios:0893a662dfcf1dbb62038b</string>
</dict>
</plist>